.likes-container {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.likes-btn {
	position: relative;
	z-index: 1;
	width: 150px;
	height: 50px;
	background-color: red;
	color: white;
	font-size: 1.3em;
	border: 0px transparent;
	border-radius: 10px;
	cursor: pointer;
}

.heart {
	position: fixed;
    z-index: 0;
    width: 30px;
    /* bottom: 75%; */
    height: 30px;
	background-image: url(../img/heart.png);
	background-repeat: no-repeat;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
}

@keyframes heart-fly1 {
	0% {
		z-index: 5;
		right: 49%;
		bottom: 74%;
		opacity: 1;
	}

	25% {
		z-index: 5;
		right: 53%;
		bottom: 79%;
		opacity: 1;
	}

	50% {
		z-index: 5;
		right: 49%;
		bottom: 84%;
		opacity: 0.8;
	}

	75% {
		z-index: 5;
		right: 45%;
		bottom: 89%;
		opacity: 0.5;
	}

	100% {
		z-index: 5;
		right: 49%;
		bottom: 100%;
		opacity: 0.1;
	}
}

@keyframes heart-fly2 {
	0% {
		z-index: 5;
		right: 49%;
		bottom: 74%;
		opacity: 1;
	}

	25% {
		z-index: 5;
		right: 49%;
		bottom: 79%;
		opacity: 1;
	}

	50% {
		z-index: 5;
		right: 45%;
		bottom: 84%;
		opacity: 0.8;
	}

	75% {
		z-index: 5;
		right: 53%;
		bottom: 89%;
		opacity: 0.5;
	}

	100% {
		z-index: 5;
		right: 49%;
		bottom: 100%;
		opacity: 0.1;
	}
}

@keyframes heart-fly3 {
	0% {
		z-index: 5;
		right: 49%;
		bottom: 74%;
		opacity: 1;
	}

	25% {
		z-index: 5;
		right: 49%;
		bottom: 79%;
		opacity: 1;
	}

	50% {
		z-index: 5;
		right: 53%;
		bottom: 84%;
		opacity: 0.8;
	}

	75% {
		z-index: 5;
		right: 45%;
		bottom: 89%;
		opacity: 0.5;
	}

	100% {
		z-index: 5;
		right: 49%;
		bottom: 100%;
		opacity: 0.1;
	}
}

@keyframes heart-fly4 {
	0% {
		z-index: 5;
		right: 49%;
		bottom: 74%;
		opacity: 1;
	}

	25% {
		z-index: 5;
		right: 45%;
		bottom: 79%;
		opacity: 1;
	}

	50% {
		z-index: 5;
		right: 49%;
		bottom: 84%;
		opacity: 0.8;
	}

	75% {
		z-index: 5;
		right: 53%;
		bottom: 89%;
		opacity: 0.5;
	}

	100% {
		z-index: 5;
		right: 49%;
		bottom: 100%;
		opacity: 0.1;
	}
}